{% extends "layout.html" %}
{% block content %}
<div class="glass-card">
    <h2>Login</h2>
    <form method="POST">
        <div class="input-group" style="flex-direction: column;">
            <input type="text" name="username" placeholder="Username" required style="margin-bottom: 10px;">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="add-btn" style="width: 100%; height: 45px; margin-top: 20px;">Sign In</button>
    </form>
</div>
{% endblock %}